In [28]:
import json
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib3
urllib3.disable_warnings()
import warnings
warnings.filterwarnings('ignore')

API_KEY = 'RIWOMQAIJJ40V284'

plt.style.use('seaborn')

In [2]:
sym = 'SBER.MOS'
http = urllib3.PoolManager()
r = http.request('GET', 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=' + sym +
                 '&interval=60min&outputsize=full&apikey=' + API_KEY)

In [4]:
data = pd.DataFrame.from_dict(json.loads(r.data)['Time Series (60min)'], orient='index', dtype=float)
data.rename(lambda x: x.split('. ')[1], axis='columns', inplace=True)

In [22]:
data['d'] = (data.close - data.open) / data.open
data['sign'] = np.sign(data.close - data.open)

data.sign = data.sign.apply(lambda x: 0 if x < 0 else 1)

In [113]:
line = ''.join(map(str, data.sign.values))
line

'100010001001001010111000111011100000110101000110110000101001100100111101110000000101001011111010100101000000100000101001110011101001011100001101001100111010100011111111110100011011111001011001011011111011100110010011000111001011111011100100100100111111011101111001011011111011111101010100111100111111001001001110100010011110111011001110001110001000010111110011010110010101011001111111100111010011101111101100110101010001010011001011101010100010110111100001010111010100010110100001010100001111000001011100010011000100001010101000011001011110000000111111000001001000010101011011001000111011011011111111'

In [111]:
g = np.random.randint(0, 2, 1000000)
line = ''.join(map(str, g))

In [94]:
def fn(line, p1, p2):
    res = [line[i: i + len(p1)] for i in range(len(line) - len(p1) + 1)]
    return res.count(p1), res.count(p2)

In [117]:
fn(line, '0000', '0001')

(28, 32)

In [143]:
stack = 0
cash = 100
for i in range(data.shape[0]):
    if stack == 3:
        stack = 0
        cash *= 1 + data.d[i]
    stack = stack + 1 if data.sign[i] == 0 else 0
#     print(data.sign[i], stack)
print(cash)

100.68283283281737

In [123]:
data.head()

,open,high,low,close,volume,d,sign
2019-09-13 02:30:00,234.1200,235.2100,233.8800,234.2700,2281584.0,0.000641,1
2019-09-13 03:30:00,234.2862,235.2177,234.1967,234.2462,3916214.0,-0.000171,0
2019-09-13 04:30:00,234.2846,234.6745,233.3835,233.4746,5996555.0,-0.003457,0
2019-09-13 05:30:00,233.4800,234.1400,233.2800,233.3900,2594760.0,-0.000385,0
2019-09-13 06:30:00,233.3800,234.2000,233.2800,234.0700,1989600.0,0.002957,1